requirement/requirement-sei-30-connector/src/main/java/org/opensingular/requirement/connector/sei30/ws/sei.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<!-- Este é o WSDL original, sem as alterações necessárias para gerar o cliente. -->

<wsdl:definitions
        name="SeiWS"
        targetNamespace="Sei"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
        xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:tns="Sei">

    <wsdl:types>
        <xsd:schema targetNamespace="Sei">

            <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>

            <xsd:complexType name="Remetente">
                <xsd:all>
                    <xsd:element name="Sigla" type="xsd:string"/>
                    <xsd:element name="Nome" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="Interessado">
                <xsd:all>
                    <xsd:element name="Sigla" type="xsd:string"/>
                    <xsd:element name="Nome" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfInteressado">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Interessado[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfInteressado">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Interessado" nillable="true" type="tns:Interessado" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="Destinatario">
                <xsd:all>
                    <xsd:element name="Sigla" type="xsd:string"/>
                    <xsd:element name="Nome" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfDestinatario">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Destinatario[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfDestinatario">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Destinatario" nillable="true" type="tns:Destinatario" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="Assunto">
                <xsd:all>
                    <xsd:element name="CodigoEstruturado" type="xsd:string"/>
                    <xsd:element name="Descricao" nillable="true" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfAssunto">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Assunto[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfAssunto">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Assunto" nillable="true" type="tns:Assunto" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="Unidade">
                <xsd:all>
                    <xsd:element name="IdUnidade" type="xsd:string"/>
                    <xsd:element name="Sigla" type="xsd:string"/>
                    <xsd:element name="Descricao" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfUnidade">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Unidade[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfUnidade">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Unidade" nillable="true" type="tns:Unidade" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="Usuario">
                <xsd:all>
                    <xsd:element name="IdUsuario" type="xsd:string"/>
                    <xsd:element name="Sigla" type="xsd:string"/>
                    <xsd:element name="Nome" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfUsuario">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Usuario[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfUsuario">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="TipoProcedimento">
                <xsd:all>
                    <xsd:element name="IdTipoProcedimento" type="xsd:string"/>
                    <xsd:element name="Nome" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfTipoProcedimento">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:TipoProcedimento[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfTipoProcedimento">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="TipoProcedimento" nillable="true" type="tns:TipoProcedimento" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="Serie">
                <xsd:all>
                    <xsd:element name="IdSerie" type="xsd:string"/>
                    <xsd:element name="Nome" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfSerie">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Serie[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfSerie">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Serie" nillable="true" type="tns:Serie" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="Observacao">
                <xsd:all>
                    <xsd:element name="Descricao" type="xsd:string"/>
                    <xsd:element name="Unidade" type="tns:Unidade"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfObservacao">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Observacao[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfObservacao">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Observacao" nillable="true" type="tns:Observacao" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="Andamento">
                <xsd:all>
                    <xsd:element name="Descricao" type="xsd:string"/>
                    <xsd:element name="DataHora" type="xsd:string"/>
                    <xsd:element name="Unidade" type="tns:Unidade"/>
                    <xsd:element name="Usuario" type="tns:Usuario"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfAndamento">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Andamento[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfAndamento">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Andamento" nillable="true" type="tns:Andamento" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="UnidadeProcedimentoAberto">
                <xsd:all>
                    <xsd:element name="Unidade" type="tns:Unidade"/>
                    <xsd:element name="UsuarioAtribuicao" type="tns:Usuario"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfUnidadeProcedimentoAberto">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:UnidadeProcedimentoAberto[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfUnidadeProcedimentoAberto">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="UnidadeProcedimentoAberto" nillable="true" type="tns:UnidadeProcedimentoAberto" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="ProcedimentoResumido">
                <xsd:all>
                    <xsd:element name="IdProcedimento" type="xsd:string"/>
                    <xsd:element name="ProcedimentoFormatado" type="xsd:string"/>
                    <xsd:element name="TipoProcedimento" type="tns:TipoProcedimento"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfProcedimentoResumido">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:ProcedimentoResumido[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfProcedimentoResumido">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ProcedimentoResumido" nillable="true" type="tns:ProcedimentoResumido" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="Assinatura">
                <xsd:all>
                    <xsd:element name="Nome" type="xsd:string"/>
                    <xsd:element name="CargoFuncao" type="xsd:string"/>
                    <xsd:element name="DataHora" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfAssinatura">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Assinatura[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfAssinatura">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Assinatura" nillable="true" type="tns:Assinatura" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="PublicacaoImprensaNacional">
                <xsd:all>
                    <xsd:element name="SiglaVeiculo" type="xsd:string"/>
                    <xsd:element name="DescricaoVeiculo" type="xsd:string"/>
                    <xsd:element name="Pagina" type="xsd:string"/>
                    <xsd:element name="Secao" type="xsd:string"/>
                    <xsd:element name="Data" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="Publicacao">
                <xsd:all>
                    <xsd:element name="NomeVeiculo" type="xsd:string"/>
                    <xsd:element name="Numero" type="xsd:string"/>
                    <xsd:element name="DataDisponibilizacao" type="xsd:string"/>
                    <xsd:element name="DataPublicacao" type="xsd:string"/>
                    <xsd:element name="Estado" type="xsd:string"/>
                    <xsd:element name="ImprensaNacional" type="tns:PublicacaoImprensaNacional"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="RetornoInclusaoDocumento">
                <xsd:all>
                    <xsd:element name="IdDocumento" type="xsd:string"/>
                    <xsd:element name="DocumentoFormatado" type="xsd:string"/>
                    <xsd:element name="LinkAcesso" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfRetornoInclusaoDocumento">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:RetornoInclusaoDocumento[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfRetornoInclusaoDocumento">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="RetornoInclusaoDocumento" nillable="true" type="tns:RetornoInclusaoDocumento" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="RetornoGeracaoProcedimento">
                <xsd:all>
                    <xsd:element name="IdProcedimento" type="xsd:string"/>
                    <xsd:element name="ProcedimentoFormatado" type="xsd:string"/>
                    <xsd:element name="LinkAcesso" type="xsd:string"/>
                    <xsd:element name="RetornoInclusaoDocumentos" type="tns:ArrayOfRetornoInclusaoDocumento"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="RetornoConsultaDocumento">
                <xsd:all>
                    <xsd:element name="IdProcedimento" type="xsd:string"/>
                    <xsd:element name="ProcedimentoFormatado" type="xsd:string"/>
                    <xsd:element name="IdDocumento" type="xsd:string"/>
                    <xsd:element name="DocumentoFormatado" type="xsd:string"/>
                    <xsd:element name="LinkAcesso" type="xsd:string"/>
                    <xsd:element name="Serie" type="tns:Serie"/>
                    <xsd:element name="Numero" type="xsd:string"/>
                    <xsd:element name="Data" type="xsd:string"/>
                    <xsd:element name="UnidadeElaboradora" type="tns:Unidade"/>
                    <xsd:element name="AndamentoGeracao" type="tns:Andamento"/>
                    <xsd:element name="Assinaturas" type="tns:ArrayOfAssinatura"/>
                    <xsd:element name="Publicacao" type="tns:Publicacao"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="Procedimento">
                <xsd:all>
                    <xsd:element name="IdTipoProcedimento" type="xsd:string"/>
                    <xsd:element name="Especificacao" type="xsd:string" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="Assuntos" type="tns:ArrayOfAssunto"/>
                    <xsd:element name="Interessados" type="tns:ArrayOfInteressado"/>
                    <xsd:element name="Observacao" type="xsd:string"/>
                    <xsd:element name="NivelAcesso" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="Documento">
                <xsd:all>
                    <xsd:element name="Tipo" type="xsd:string"/>
                    <xsd:element name="IdProcedimento" type="xsd:string"/>
                    <xsd:element name="IdSerie" type="xsd:string"/>
                    <xsd:element name="Numero" type="xsd:string"/>
                    <xsd:element name="Data" type="xsd:string"/>
                    <xsd:element name="Descricao" type="xsd:string"/>
                    <xsd:element name="Remetente" type="tns:Remetente"/>
                    <xsd:element name="Interessados" type="tns:ArrayOfInteressado"/>
                    <xsd:element name="Destinatarios" type="tns:ArrayOfDestinatario"/>
                    <xsd:element name="Observacao" type="xsd:string"/>
                    <xsd:element name="NomeArquivo" type="xsd:string"/>
                    <xsd:element name="Conteudo" type="xsd:string"/>
                    <xsd:element name="ConteudoMTOM" type="xsd:base64Binary" xmime:expectedContentTypes="application/octet-stream" minOccurs="0" />
                    <xsd:element name="NivelAcesso" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfDocumento">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:Documento[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfDocumento">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="Documento" nillable="true" type="tns:Documento" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="RetornoConsultaProcedimento">
                <xsd:all>
                    <xsd:element name="IdProcedimento" type="xsd:string"/>
                    <xsd:element name="ProcedimentoFormatado" type="xsd:string"/>
                    <xsd:element name="Especificacao" type="xsd:string"/>
                    <xsd:element name="DataAutuacao" type="xsd:string"/>
                    <xsd:element name="LinkAcesso" type="xsd:string"/>
                    <xsd:element name="TipoProcedimento" type="tns:TipoProcedimento"/>
                    <xsd:element name="AndamentoGeracao" type="tns:Andamento"/>
                    <xsd:element name="AndamentoConclusao" type="tns:Andamento"/>
                    <xsd:element name="UltimoAndamento" type="tns:Andamento"/>
                    <xsd:element name="UnidadesProcedimentoAberto" type="tns:ArrayOfUnidadeProcedimentoAberto"/>
                    <xsd:element name="Assuntos" type="tns:ArrayOfAssunto"/>
                    <xsd:element name="Interessados" type="tns:ArrayOfInteressado"/>
                    <xsd:element name="Observacoes" type="tns:ArrayOfObservacao"/>
                    <xsd:element name="ProcedimentosRelacionados" type="tns:ArrayOfProcedimentoResumido"/>
                    <xsd:element name="ProcedimentosAnexados" type="tns:ArrayOfProcedimentoResumido"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfProcedimentoRelacionado">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfProcedimentoRelacionado">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ProcedimentoRelacionado" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="ArrayOfIdUnidade">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfIdUnidade">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="IdUnidade" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

            <xsd:complexType name="ArrayOfDocumentoFormatado">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="xsd:string[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfDocumentoFormatado">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="DocumentoFormatado" nillable="true" type="xsd:string" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->


            <xsd:complexType name="ArquivoExtensao">
                <xsd:all>
                    <xsd:element name="IdArquivoExtensao" type="xsd:string"/>
                    <xsd:element name="Extensao" type="xsd:string"/>
                    <xsd:element name="Descricao" type="xsd:string"/>
                </xsd:all>
            </xsd:complexType>

            <xsd:complexType name="ArrayOfArquivoExtensao">
                <xsd:complexContent>
                    <xsd:restriction base="SOAP-ENC:Array">
                        <xsd:attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns:ArquivoExtensao[]" />
                    </xsd:restriction>
                </xsd:complexContent>
            </xsd:complexType>

            <!--
            <xsd:element name="ArrayOfArquivoExtensao">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="unbounded" name="ArquivoExtensao" nillable="true" type="tns:ArquivoExtensao" />
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            -->

        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="gerarProcedimentoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="Procedimento" type="tns:Procedimento"/>
        <wsdl:part name="Documentos" type="tns:ArrayOfDocumento"/>
        <wsdl:part name="ProcedimentosRelacionados" type="tns:ArrayOfProcedimentoRelacionado"/>
        <wsdl:part name="UnidadesEnvio" type="tns:ArrayOfIdUnidade"/>
        <wsdl:part name="SinManterAbertoUnidade" type="xsd:string"/>
        <wsdl:part name="SinEnviarEmailNotificacao" type="xsd:string"/>
        <wsdl:part name="DataRetornoProgramado" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="gerarProcedimentoResponse">
        <wsdl:part name="parametros" type="tns:RetornoGeracaoProcedimento"/>
    </wsdl:message>

    <wsdl:message name="incluirDocumentoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="Documento" type="tns:Documento"/>
    </wsdl:message>

    <wsdl:message name="incluirDocumentoResponse">
        <wsdl:part name="parametros" type="tns:RetornoInclusaoDocumento"/>
    </wsdl:message>

    <wsdl:message name="listarUnidadesRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdTipoProcedimento" type="xsd:string"/>
        <wsdl:part name="IdSerie" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="listarUnidadesResponse">
        <wsdl:part name="parametros" type="tns:ArrayOfUnidade"/>
    </wsdl:message>

    <wsdl:message name="listarTiposProcedimentoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="IdSerie" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="listarTiposProcedimentoResponse">
        <wsdl:part name="parametros" type="tns:ArrayOfTipoProcedimento"/>
    </wsdl:message>

    <wsdl:message name="listarSeriesRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="IdTipoProcedimento" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="listarSeriesResponse">
        <wsdl:part name="parametros" type="tns:ArrayOfSerie"/>
    </wsdl:message>

    <wsdl:message name="consultarProcedimentoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="ProtocoloProcedimento" type="xsd:string"/>
        <wsdl:part name="SinRetornarAssuntos" type="xsd:string"/>
        <wsdl:part name="SinRetornarInteressados" type="xsd:string"/>
        <wsdl:part name="SinRetornarObservacoes" type="xsd:string"/>
        <wsdl:part name="SinRetornarAndamentoGeracao" type="xsd:string"/>
        <wsdl:part name="SinRetornarAndamentoConclusao" type="xsd:string"/>
        <wsdl:part name="SinRetornarUltimoAndamento" type="xsd:string"/>
        <wsdl:part name="SinRetornarUnidadesProcedimentoAberto" type="xsd:string"/>
        <wsdl:part name="SinRetornarProcedimentosRelacionados" type="xsd:string"/>
        <wsdl:part name="SinRetornarProcedimentosAnexados" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="consultarProcedimentoResponse">
        <wsdl:part name="parametros" type="tns:RetornoConsultaProcedimento"/>
    </wsdl:message>

    <wsdl:message name="consultarDocumentoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="ProtocoloDocumento" type="xsd:string"/>
        <wsdl:part name="SinRetornarAndamentoGeracao" type="xsd:string"/>
        <wsdl:part name="SinRetornarAssinaturas" type="xsd:string"/>
        <wsdl:part name="SinRetornarPublicacao" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="consultarDocumentoResponse">
        <wsdl:part name="parametros" type="tns:RetornoConsultaDocumento"/>
    </wsdl:message>

    <wsdl:message name="gerarBlocoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="Tipo" type="xsd:string"/>
        <wsdl:part name="Descricao" type="xsd:string"/>
        <wsdl:part name="UnidadesDisponibilizacao" type="tns:ArrayOfIdUnidade"/>
        <wsdl:part name="Documentos" type="tns:ArrayOfDocumentoFormatado"/>
        <wsdl:part name="SinDisponibilizar" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="gerarBlocoResponse">
        <wsdl:part name="parametros" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="excluirBlocoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="IdBloco" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="excluirBlocoResponse">
        <wsdl:part name="parametros" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="disponibilizarBlocoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="IdBloco" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="disponibilizarBlocoResponse">
        <wsdl:part name="parametros" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="cancelarDisponibilizacaoBlocoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="IdBloco" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="cancelarDisponibilizacaoBlocoResponse">
        <wsdl:part name="parametros" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="incluirDocumentoBlocoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="IdBloco" type="xsd:string"/>
        <wsdl:part name="ProtocoloDocumento" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="incluirDocumentoBlocoResponse">
        <wsdl:part name="parametros" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="retirarDocumentoBlocoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="IdBloco" type="xsd:string"/>
        <wsdl:part name="ProtocoloDocumento" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="retirarDocumentoBlocoResponse">
        <wsdl:part name="parametros" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="incluirProcessoBlocoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="IdBloco" type="xsd:string"/>
        <wsdl:part name="ProtocoloProcedimento" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="incluirProcessoBlocoResponse">
        <wsdl:part name="parametros" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="retirarProcessoBlocoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="IdBloco" type="xsd:string"/>
        <wsdl:part name="ProtocoloProcedimento" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="retirarProcessoBlocoResponse">
        <wsdl:part name="parametros" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="reabrirProcessoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="ProtocoloProcedimento" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="reabrirProcessoResponse">
        <wsdl:part name="parametros" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="concluirProcessoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="ProtocoloProcedimento" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="concluirProcessoResponse">
        <wsdl:part name="parametros" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="listarExtensoesPermitidasRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="IdArquivoExtensao" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="listarExtensoesPermitidasResponse">
        <wsdl:part name="parametros" type="tns:ArrayOfArquivoExtensao"/>
    </wsdl:message>

    <wsdl:message name="enviarProcessoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="ProtocoloProcedimento" type="xsd:string"/>
        <wsdl:part name="UnidadesDestino" type="tns:ArrayOfIdUnidade"/>
        <wsdl:part name="SinManterAbertoUnidade" type="xsd:string"/>
        <wsdl:part name="SinRemoverAnotacao" type="xsd:string"/>
        <wsdl:part name="SinEnviarEmailNotificacao" type="xsd:string"/>
        <wsdl:part name="DataRetornoProgramado" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="enviarProcessoResponse">
        <wsdl:part name="parametros" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="listarUsuariosRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="IdUsuario" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="listarUsuariosResponse">
        <wsdl:part name="parametros" type="tns:ArrayOfUsuario"/>
    </wsdl:message>

    <wsdl:message name="atribuirProcessoRequest">
        <wsdl:part name="SiglaSistema" type="xsd:string"/>
        <wsdl:part name="IdentificacaoServico" type="xsd:string"/>
        <wsdl:part name="IdUnidade" type="xsd:string"/>
        <wsdl:part name="ProtocoloProcedimento" type="xsd:string"/>
        <wsdl:part name="IdUsuario" type="xsd:string"/>
        <wsdl:part name="SinReabrir" type="xsd:string"/>
    </wsdl:message>

    <wsdl:message name="atribuirProcessoResponse">
        <wsdl:part name="parametros" type="xsd:string"/>
    </wsdl:message>

    <wsdl:portType name="SeiPortType">

        <wsdl:operation name="gerarProcedimento">
            <wsdl:documentation>Geracao de processos</wsdl:documentation>
            <wsdl:input message="tns:gerarProcedimentoRequest"/>
            <wsdl:output message="tns:gerarProcedimentoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="incluirDocumento">
            <wsdl:documentation>Geracao de documentos</wsdl:documentation>
            <wsdl:input message="tns:incluirDocumentoRequest"/>
            <wsdl:output message="tns:incluirDocumentoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="listarUnidades">
            <wsdl:documentation>Lista de unidades disponiveis</wsdl:documentation>
            <wsdl:input message="tns:listarUnidadesRequest"/>
            <wsdl:output message="tns:listarUnidadesResponse"/>
        </wsdl:operation>

        <wsdl:operation name="listarTiposProcedimento">
            <wsdl:documentation>Lista de tipos de processo disponiveis</wsdl:documentation>
            <wsdl:input message="tns:listarTiposProcedimentoRequest"/>
            <wsdl:output message="tns:listarTiposProcedimentoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="listarSeries">
            <wsdl:documentation>Lista de series disponiveis</wsdl:documentation>
            <wsdl:input message="tns:listarSeriesRequest"/>
            <wsdl:output message="tns:listarSeriesResponse"/>
        </wsdl:operation>

        <wsdl:operation name="consultarProcedimento">
            <wsdl:documentation>Consulta de processos</wsdl:documentation>
            <wsdl:input message="tns:consultarProcedimentoRequest"/>
            <wsdl:output message="tns:consultarProcedimentoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="consultarDocumento">
            <wsdl:documentation>Consulta de documentos</wsdl:documentation>
            <wsdl:input message="tns:consultarDocumentoRequest"/>
            <wsdl:output message="tns:consultarDocumentoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="gerarBloco">
            <wsdl:documentation>Geracao de bloco</wsdl:documentation>
            <wsdl:input message="tns:gerarBlocoRequest"/>
            <wsdl:output message="tns:gerarBlocoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="excluirBloco">
            <wsdl:documentation>Exclusao de bloco</wsdl:documentation>
            <wsdl:input message="tns:excluirBlocoRequest"/>
            <wsdl:output message="tns:excluirBlocoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="disponibilizarBloco">
            <wsdl:documentation>Disponibilizacao de bloco</wsdl:documentation>
            <wsdl:input message="tns:disponibilizarBlocoRequest"/>
            <wsdl:output message="tns:disponibilizarBlocoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="cancelarDisponibilizacaoBloco">
            <wsdl:documentation>Cancelamento de disponibilizacao de bloco</wsdl:documentation>
            <wsdl:input message="tns:cancelarDisponibilizacaoBlocoRequest"/>
            <wsdl:output message="tns:cancelarDisponibilizacaoBlocoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="incluirDocumentoBloco">
            <wsdl:documentation>Inclusao de documento em bloco</wsdl:documentation>
            <wsdl:input message="tns:incluirDocumentoBlocoRequest"/>
            <wsdl:output message="tns:incluirDocumentoBlocoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="retirarDocumentoBloco">
            <wsdl:documentation>Remocao de documento de bloco</wsdl:documentation>
            <wsdl:input message="tns:retirarDocumentoBlocoRequest"/>
            <wsdl:output message="tns:retirarDocumentoBlocoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="incluirProcessoBloco">
            <wsdl:documentation>Inclusao de processo em bloco</wsdl:documentation>
            <wsdl:input message="tns:incluirProcessoBlocoRequest"/>
            <wsdl:output message="tns:incluirProcessoBlocoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="retirarProcessoBloco">
            <wsdl:documentation>Remocao de processo de bloco</wsdl:documentation>
            <wsdl:input message="tns:retirarProcessoBlocoRequest"/>
            <wsdl:output message="tns:retirarProcessoBlocoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="reabrirProcesso">
            <wsdl:documentation>Reabertura de processo</wsdl:documentation>
            <wsdl:input message="tns:reabrirProcessoRequest"/>
            <wsdl:output message="tns:reabrirProcessoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="concluirProcesso">
            <wsdl:documentation>Conclusao de processo</wsdl:documentation>
            <wsdl:input message="tns:concluirProcessoRequest"/>
            <wsdl:output message="tns:concluirProcessoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="listarExtensoesPermitidas">
            <wsdl:documentation>Lista de extensoes de arquivos permitidas</wsdl:documentation>
            <wsdl:input message="tns:listarExtensoesPermitidasRequest"/>
            <wsdl:output message="tns:listarExtensoesPermitidasResponse"/>
        </wsdl:operation>

        <wsdl:operation name="enviarProcesso">
            <wsdl:documentation>Movimentacao de processo entre unidades</wsdl:documentation>
            <wsdl:input message="tns:enviarProcessoRequest"/>
            <wsdl:output message="tns:enviarProcessoResponse"/>
        </wsdl:operation>

        <wsdl:operation name="listarUsuarios">
            <wsdl:documentation>Lista de usuarios com permissao na unidade</wsdl:documentation>
            <wsdl:input message="tns:listarUsuariosRequest"/>
            <wsdl:output message="tns:listarUsuariosResponse"/>
        </wsdl:operation>

        <wsdl:operation name="atribuirProcesso">
            <wsdl:documentation>Atribuicao de processo para usuario na unidade</wsdl:documentation>
            <wsdl:input message="tns:atribuirProcessoRequest"/>
            <wsdl:output message="tns:atribuirProcessoResponse"/>
        </wsdl:operation>

    </wsdl:portType>

    <wsdl:binding name="SeiBinding" type="tns:SeiPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

        <wsdl:operation name="gerarProcedimento">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="incluirDocumento">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="listarUnidades">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="listarTiposProcedimento">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="listarSeries">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="consultarProcedimento">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="consultarDocumento">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="gerarBloco">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="excluirBloco">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="disponibilizarBloco">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="cancelarDisponibilizacaoBloco">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="incluirDocumentoBloco">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="retirarDocumentoBloco">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="incluirProcessoBloco">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="retirarProcessoBloco">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="reabrirProcesso">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="concluirProcesso">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="listarExtensoesPermitidas">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="enviarProcesso">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="listarUsuarios">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="atribuirProcesso">
            <soap:operation soapAction="SeiAction" />
            <wsdl:input>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body namespace="Sei" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </wsdl:output>
        </wsdl:operation>

    </wsdl:binding>

    <wsdl:service name="SeiService">
        <wsdl:port name="SeiPortService" binding="tns:SeiBinding">
            <soap:address location="https://seids/sei/ws/SeiWS.php"/>
        </wsdl:port>
    </wsdl:service>


</wsdl:definitions>